@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Kalnia+Glaze:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    width: 100%;
    height: 100vh;

    font-weight: 300;
    font-style: normal;

    background-color: rgba(245, 245, 247);
    overflow-x: hidden;
}

/******************************Margin and padding have disappeared**********************/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*******************************Header******************************/
.header-container{
    width: 100%;
    height: 40px;

    display: flex;
    
    background-color: rgba(245, 245, 247);
}

.div-container{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
}

.header-inner{
    font-weight: 350;
    font-style: normal;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#apple-logo{
    transform: translate(-50px, 15px);
    font-size: 17px;
}

.href_parent{
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 35px;
}

.href_link{
    font-size: 75%;
}

.href_item{
    list-style-type: none;
}

.href_item:hover{
    color: black;
}

.header-a{
    text-decoration: none;
    color: rgb(101, 94, 94);
}

.header-a:hover{
    color: black;
}


#search-icon{    
    transform: translateX(825px) translateY(-19px);
    font-size: 14px;

    cursor: pointer;
}

#bag-icon{
    transform: translateX(840px) translateY(-17px);
    cursor: pointer;
}

/****************************(Main)****************************/

.underTheHeader_main-box{
    width: 100%;
    height: 110px;

    background-color: rgba(255, 255, 255);
}

.AirPods_row-img{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;
    cursor: pointer;
}

/**********************Airpods(row-img)**************************/
.AirPods-img2{
    position: relative;

    top: 5px;
    cursor: pointer;
}

.AirPods-img3{
    position: relative;

    top: 4px;
    cursor: pointer;
}

.AirPods-img5{
    position: relative;

    right: 10px;
    bottom: 4px;
    cursor: pointer;
}

.AirPods-img6{
    border-radius:5px;
    
    position: relative;
    bottom: px;
    cursor: pointer;
}

/**********************Airpods(row-text-parent)**************************/

.AirPods_row-p{
    display: flex;
    justify-content: center;
    align-items: center;
    
    transform: translateY(-20px);

    gap: 30px;

    font-size: 13px;
}

/**********************Airpods(row-text-childs)**************************/
.Airpods_p1{
    transform: translate(155px);
}

.Airpods_p1-part{
    transform: translate(62px, 15px);
}

.Airpods_p2{
    transform: translate(49px);
}

.Airpods_p2-part{
    transform: translate(-42px, 15px);
}

.Airpods_p3{
    transform: translate(-61px);
}

.Airpods_p3-part{
    transform: translate(-163px, 15px);
}

.Airpods_p4{
    transform: translate(-180px);
}

.Airpods_p5{
    transform: translate(-152px);
}

.Airpods_p6{
    transform: translate(-127px);
}

.AirPods_row-a{
    text-decoration: none;
    color: rgb(44, 41, 41);
}

.AirPods_row-a:hover{
    color: rgb(62, 62, 243);
    font-weight: 200;
}

/*********************** AirPods_underThe-text **********************/
.AirPods_underThe-parent{
    display: flex;
    justify-content: center;
    
    padding: 10px 0;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;

    color: rgb(94, 87, 87);
}

.AirPods_underThe-parent a{
    text-decoration: none;
    color: rgb(54, 118, 182);
}

.AirPods_underThe-parent a:hover{
    text-decoration: underline;
}

/************MAIN**************/

.main {
    width: 100%;
    height: 100vh;

    background-color: rgba(255, 255, 255);
}

.AirPods_pro-container{
    display: flex;
    justify-content: center;

    padding: 25px 0;
}

.AirPods_pro-container{
    display: flex;
}

.AirPods_pro_video{
    width: 1325px;
    border-radius: 18px;

    transform: translateX(295px);
}

.AirPodsPro_video-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translateX(-700px);
}

.AirPodsPro_video-h1{
    font-size: 110px;
    color: white;

    transform: translateX(40px);

    font-weight: 600;
}

.AirPodsPro_video-p{
    color: white;
    font-size: 20px;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translate(40px, -10px);
}

.AirPodsPro_video-p2{
    color: white;
    font-size: 20px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    font-weight: 400;
    transform: translate(40px);
}

.AirPodsPro_video-button{
    transform: translate(-20px, 245px);

    padding: 10px 20px;

    border: none;
    border-radius: 18px;

    font-size: 15px;
}

.AirPodsPro_video-button:hover{
    background-color: rgb(199, 183, 183);
}

.AirPodsPro_video-a{
    transform: translate(80px, 212px);

    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 18px;
    text-decoration: none;

    color: white;
}

.AirPodsPro_video-a:hover{
    text-decoration: underline;
}

.AirPodsPro_video-infoCHEVRON{
    transform: translate(136px, 196px);

    width: 13px;
}

.AirPodsPro_video-img{
    transform: translate(140px, 195px);

    /* background-color: white; */
}

.Video_Pause-img{
    transform: translate(650px,187px);
}

/*****************("white_AirPod BOX1) */
.white_AirPods-container1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.white_AirPodsIMG-parent{
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(197px);
}

.white_AirPodsIMG-child{
    border-radius: 18px;
}

.AirPodsPro_img-h1{
    font-size: 110px;

    transform: translateX(40px);
    color: rgb(46, 40, 40);
    font-weight: 600;
}

.AirPodsPro_img-p{
    color: rgb(37, 34, 34);
    font-size: 20px;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translate(40px, -10px);
}

.AirPodsPro_img-p2{
    color: black;
    font-size: 20px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    font-weight: 400;
    transform: translate(40px);
}

.AirPodsPro_img-button{
    transform: translate(-20px, 185px);

    padding: 10px 20px;

    border: none;
    border-radius: 18px;

    background-color: rgba(0, 119, 227);
    color: white;

    font-size: 15px;
}

.AirPodsPro_img-button:hover{
    background-color: rgb(8, 65, 119);
}

.AirPodsPro_img-a{
    transform: translate(80px, 153px);

    font-weight: 600;
    font-size: 18px;
    text-decoration: none;

    color: rgba(0, 119, 227);
}

.AirPodsPro_img-a:hover{
    text-decoration: underline;
}

.AirPodsPro_img-img{
    transform: translate(137px, 136px);
}

/************************AIrpods(white_box2)**********************/
.white_AirPods-container2{
    /* display: flex;
    justify-content: center;
    align-items: center; */

    background-color: white;
    transform: translate(35px, 25px);

    width: 1323px;
    height: 600px;
    border-radius: 18px;
}

.white_AirPodsIMG-parent2{
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(197px);
}

.white_AirPodsIMGChild1{
    transform: translate(-300px, 81px);
}

.white_AirPodsIMGChild2{
    transform: translate(-170px, 150px);
}

.AirPodsPro_video-info2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateY(-350px) translateX(-40px);
    /* font-weight: 100; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.AirPodsPro_img-h3{
    color: black;

    transform: translateX(40px);
    font-size: 120px;
    color: rgb(37, 34, 34);
}

.AirPodsPro_imgP-3{
    color: rgb(37, 34, 34);
    font-size: 20px;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translate(40px, -10px);
}

.AirPodsPro_img-p3{
    color: rgb(37, 34, 34);
    font-size: 20px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    font-weight: 400;
    transform: translate(40px);
}

.AirPodsPro_img-button3{
    transform: translate(-20px, 185px);

    padding: 10px 20px;

    border: none;
    border-radius: 18px;

    background-color: rgba(0, 119, 227);
    color: white;

    font-size: 15px;
}

.AirPodsPro_img-button3:hover{
    background-color: rgb(7, 67, 123);
}

.AirPodsPro_img-a3{
    transform: translate(80px, 152px);

    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 18px;
    text-decoration: none; 

    color: rgba(0, 119, 227);
}

.AirPodsPro_img-a3:hover{
    text-decoration: underline;
}

.AirPodsPRo_ImG3{
    transform: translate(140px, 135px);
}

/***************AIrpods(white_box3)***********/

.white_AirPods-container3{
    width: 100%;
    height: 100vh;
}

.white_AirPods-box3{
    background-color: white;
    transform: translate(35px, 50px);

    width: 1323px;
    height: 730px;
    border-radius: 18px;
}

.white_AirPodsContainer3-textParent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.white_AirPodsContainer3-textChild{
    transform: translate(0, 180px);

    font-size: 180px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 650;
    
    color: rgb(31, 26, 26);
}

.white_AirPodsContainer3-imgParent{
    display: flex;
    justify-content: center;
    transform: translate(20px,-200px);
}

.white_AirPodsContainer3-texstsParent{
    display: flex;
    justify-content: center;
    flex-direction: column;

    transform: translate(650px, -400px);
}

.white_AirPodsContainer3-texstsParent p{
    transform: translate(7px, -20px);

    font-size: 20px;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
}

.AirPodsPro_img-button4{
    transform: translate(-60px, 200px);

    padding: 10px 20px;
    width: 70px;
    border: none;
    border-radius: 18px;

    background-color: rgba(0, 119, 227);
    color: white;

    font-size: 15px;
}

.AirPodsPro_img-button4:hover{
    background-color: rgb(6, 66, 122);
}

.AirPodsPro_img-a4{
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 18px;
    text-decoration: none; 

    transform: translate(30px, 168px);

    color: rgba(0, 119, 227);
}

.AirPodsPro_img-a4:hover{
    text-decoration: underline;
}

.AirPodsPrOiMG_img4{
    transform: translate(125px, 152px);
}

/************************underWhite_AirPods-P-container*************/

.underWhite_AirPods-container4{
    width: 100%;
    height: 350px;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.underWhite_AirPods-pParent{
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(200px);

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    color: rgb(26, 22, 22);
}

.underWhite_AirPods-pChild{
    transform: translate(195px, 20px);
}


.underWhite_AirPods-pChild2{
    transform: translate(-300px, 83px);
}

/*************************ArowOf_apple-appliancesContainer****************/

.ArowOf_apple-appliancesContainer{
    width: 100%;
    height: 1000px;

    padding: 50px 0;
}

.ArowOf_apple-appliancesParent{
    display: grid;
    
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-columns: 350px 350px 350px;
    justify-content: center;
    gap: 40px
}

.ArowOf_apple-appliancesChild{
    width: 350px;
    height: 425px;

    background-color: white;
    border-radius: 18px;
}

/************************ArowOf_apple-appliancesContainer(შიგთავსი)****************/

.ArowOf_apple-appliancesChildIMG1{   /********FIrst_BOX**********/
    width: 300px;
    transform: translate(30px);
}

.ArowOf_apple-appliancesChildp1{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;

    transform: translate(35px, 40px);
}

.plus_button-img{
    width: 30px;
    transform: translate(290px, 12px);
}

/********FIrst_BOX2******************************************************************/

.ArowOf_apple-appliancesChildIMG2{
    width: 190px;
    transform: translate(80px);
}

.ArowOf_apple-appliancesChildp2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;

    transform: translate(10px, 33px);
}

.plus_button-img2{
    width: 30px;
    transform: translate(295px, 3px);
}


/********FIrst_BOX3******************************************************************/

.ArowOf_apple-appliancesChildIMG3{
    width: 240px;
    transform: translate(50px, 20px);
}

.ArowOf_apple-appliancesChildp3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;

    transform: translate(20px, 50px);
}

.plus_button-img3{
    width: 30px;
    transform: translate(295px, 21px);
}

/********FIrst_BOX4******************************************************************/

.ArowOf_apple-appliancesChildIMG4{
    width: 300px;
    transform: translate(27px, 120px);
}

.ArowOf_apple-appliancesChildp4{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;

    transform: translate(20px, 280px);
}

.plus_button-img4{
    width: 30px;
    transform: translate(295px, 253px);
}

.ArowOf_apple-appliancesChild2{
    width: 350px;
    height: 425px;

    background-color: white;
    border-radius: 18px;
    transform: translate(125px, 60px);
}

/********FIrst_BOX5******************************************************************/

.ArowOf_apple-appliancesChildIMG5{
    width: 170px;
    transform: translate(90px, 80px);
}

.ArowOf_apple-appliancesChildp5{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;

    transform: translate(20px, 200px);
}

.plus_button-img5{
    width: 30px;
    transform: translate(295px, 170px);
}

.ArowOf_apple-appliancesChild3{
    width: 350px;
    height: 425px;

    background-color: white;
    border-radius: 18px;
    transform: translate(518px, -465px);
}

/********FIrst_BOX6******************************************************************/

.ArowOf_apple-appliancesChildIMG6{
    width: 120px;
    transform: translate(113px, 98px);
}

.ArowOf_apple-appliancesChildp6{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;

    transform: translate(20px, 250px);
}

.plus_button-img6{
    width: 30px;
    transform: translate(295px, 220px);
}

.ArowOf_apple-appliancesChild4{
    width: 350px;
    height: 425px;

    background-color: white;
    border-radius: 18px;
    transform: translate(908px, -890px);
}



/*****************************UnderArowOf_apple-appliancesContainerTEXT**********************************/

.UnderArowOf_apple-appliancesContainerTEXT{
    width: 100%;
    height: 350px;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.underArowOf_apple-appliancesContainerPARERNT{
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(-780px);

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    color: rgb(26, 22, 22);
}

.underArowOf_apple-appliancesContainerCHILD{
    transform: translate(195px, 20px);
}


.underArowOf_apple-appliancesContainerCHILD2{
    transform: translate(-230px, 83px);
}




/*************************Airpods_sales-line***********************Airpods_sales-imgs*/

.Airpods_sales-line{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.Airpods_sales-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    transform: translate(240px,-900px);
}

.AirpodsSales_img-item1{
    display: block;
    width: 240px;
    transform: translateY(-13px) translateX(2px);

    transition: transform 0.3s ease;
}

.AirpodsSales_img-item1:hover{
    transform: scale(1.1);
}

.AirpodsSales_img-item2{
    display: block;
    width: 160px;
    transform: translate(-30px);

    transition: transform 0.3s ease;
}

.AirpodsSales_img-item2:hover{
    transform: scale(1.1);
}


.AirpodsSales_img-item3{
    display: block;
    width: 160px;
    height: auto;
    transform: translate(-20px);

    transition: transform 0.3s ease;
}

.AirpodsSales_img-item3:hover{
    transform: scale(1.1);
}

.AirpodsSales_img-item4{
    display: block;
    width: 200px;
    transform: translateY(-53px) translateX(-20px);

    transition: transform 0.3s ease;
}

.AirpodsSales_img-item4:hover{
    transform: scale(1.1);
}


/*************************Airpods_sales-line***********************Airpods_sales-TEXT*/

                                            /*****************Airpods_sales-item1(TEXT)*********************/

.Airpods_sales-item1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transform: translate(-328px, -913px);
}

.Airpods_salesItem-p1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: rgb(26, 22, 22);

}

.Airpods_salesItem-p2{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
    transform: translateY(2px);
}

.Airpods_salesItem-p3{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    
    transform: translateY(40px);
}

.Airpods_salesItem-button1{
    transform: translate(1px, 60px);

    padding: 5px 5px;
    width: 43px;
    height: 22px;
    border: none;
    border-radius: 18px;

    background-color: rgba(0, 119, 227);
    color: white;

    font-size: 11px;
}

.Airpods_salesItem-button1:hover{
    background-color: rgb(5, 62, 115);
}

.Airpods_salesItem-a{
    position: relative;

    font-weight: 400;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    text-decoration: none; 

    transform: translate(0, 75px);

    color: rgba(0, 119, 227);
}

.Airpods_salesItem-a:hover{
    text-decoration: underline;
}

.Airpods_salesItem-a::before{
    content: "";

    position: absolute;

    left: -47px;
    bottom: -30px;
    height: 1px;

    width: 180px;
    background-color: rgb(190, 194, 202);
}


.Airpods_salesItemItem-img1{
    transform: translate(43px, 62px);
    width: 11px;
}



                    /*****************Airpods_sales-item2(TEXT)*********************/

.Airpods_sales-item2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transform: translate(-110px, -1024px);
}

.Airpods_salesItem-p4{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: rgb(26, 22, 22);
}

.Airpods_salesItem-p5{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
    
    transform: translateY(2px);
}

.Airpods_salesItem-p6{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    
    transform: translateY(40px);
}

.Airpods_salesItem-button2{
    transform: translate(1px, 60px);

    padding: 5px 5px;
    width: 43px;
    height: 22px;
    border: none;
    border-radius: 18px;

    background-color: rgba(0, 119, 227);
    color: white;

    font-size: 11px;
}

.Airpods_salesItem-button2:hover{
    background-color: rgb(5, 62, 115);
}

.Airpods_salesItem-a2{
    position: relative;

    font-weight: 400;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    text-decoration: none; 

    transform: translate(0, 75px);

    color: rgba(0, 119, 227);
}

.Airpods_salesItem-a2:hover{
    text-decoration: underline;
}

.Airpods_salesItem-a2::before{
    content: "";

    position: absolute;

    left: -47px;
    bottom: -30px;
    height: 1px;

    width: 180px;
    background-color: rgb(190, 194, 202);
}

.Airpods_salesItemItem-img2{
    transform: translate(43px, 62px);
    width: 11px;
}


                            /*****************Airpods_sales-item3(TEXT)********************/

.Airpods_sales-item3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transform: translate(120px, -1137px);
}

.Airpods_salesItem-p7{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: rgb(26, 22, 22);
}

.Airpods_salesItem-p8{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
    
    transform: translateY(2px);
}

.Airpods_salesItem-pP{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
    transform: translateY(4px);
}

.Airpods_salesItem-p9{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    
    transform: translateY(25px);
}

.Airpods_salesItem-button3{
    transform: translate(1px, 45px);

    padding: 5px 5px;
    width: 43px;
    height: 22px;
    border: none;
    border-radius: 18px;

    background-color: rgba(0, 119, 227);
    color: white;

    font-size: 11px;
}

.Airpods_salesItem-button3:hover{
    background-color: rgb(5, 62, 115);
}

.Airpods_salesItem-a3{
    position: relative;

    font-weight: 400;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    text-decoration: none; 

    transform: translate(0, 60px);

    color: rgba(0, 119, 227);
}

.Airpods_salesItem-a3:hover{
    text-decoration: underline;
}

.Airpods_salesItem-a3::before{
    content: "";

    position: absolute;

    left: -47px;
    bottom: -30px;
    height: 1px;

    width: 180px;
    background-color: rgb(193, 201, 219);
}

.Airpods_salesItemItem-img3{
    transform: translate(42px, 47px);
    width: 11px;
}


/* 
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;     */



/*****************Airpods_sales-item4(TEXT)********************/        

.Airpods_sales-item4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transform: translate(348px, -1264px);
}

.Airpods_salesItem-p10{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: rgb(26, 22, 22);

}

.Airpods_salesItem-p11{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
    transform: translateY(2px);
}

.Airpods_salesItem-p12{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    
    transform: translateY(55px);
}

.Airpods_salesItem-button4{
    transform: translate(1px, 75px);

    padding: 5px 5px;
    width: 43px;
    height: 22px;
    border: none;
    border-radius: 18px;

    background-color: rgba(0, 119, 227);
    color: white;

    font-size: 11px;
}

.Airpods_salesItem-button4:hover{
    background-color: rgb(5, 62, 115);
}

.Airpods_salesItem-a5{
    position: relative;

    font-weight: 400;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    text-decoration: none; 

    transform: translate(0, 90px);

    color: rgba(0, 119, 227);
}

.Airpods_salesItem-a5:hover{
    text-decoration: underline;
}

.Airpods_salesItem-a5::before{
    content: "";

    position: absolute;

    left: -47px;
    bottom: -30px;
    height: 1px;

    width: 180px;
    background-color: rgb(190, 194, 202);
}


.Airpods_salesItemItem-img6{
    transform: translate(43px, 77px);
    width: 11px;
}


/*******************************Airpods_salesInformation-Container**************************/
                                            /*****Airpods_salesInformation(COlumn(1)*/
.Airpods_salesInformation-column1{
    transform: translate(-321px, -1075px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 140px;
}


.Airpods_salesInformation-containerIMG{
    width: 40px;
    transform: translate(3px, -30px);
}


/*****Airpods_salesInformation-COLUMN(2)**************/

.Airpods_salesInformation-column2{
    transform: translate(-100px, -1730px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 140px;
}


.Airpods_salesInformation-containerP3{
    transform: translate(7px, -160px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.Airpods_salesInformation-containerP4{
    transform: translate(25px, -160px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.Airpods_salesInformation-a{
    /* position: relative; */
    transform: translate(156px, -181px);
}

.Airpods_salesInformation-a a{
    text-decoration: none;
    font-size: 7px;
}

.Airpods_salesInformation-containerIMG2{
    width: 45px;
    transform: translate(5px, -243px);
}

.Airpods_salesInformation-containerP5{
    transform: translate(18px, -375px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.Airpods_salesInformation-containerP6{
    transform: translateY(-377px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.Airpods_salesInformation-a2{
    /* position: relative; */
    transform: translate(87px, -397px);
}

.Airpods_salesInformation-a2 a{
    text-decoration: none;
    font-size: 8px;
}

.Airpods_salesInformation-containerIMG3{
    width: 60px;
    transform: translate(8px, -450px);
}

.Airpods_salesInformation-containerP7{
    transform: translate(9px, -587px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.Airpods_salesInformation-containerP8{
    transform: translate(13px,-585px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.Airpods_salesInformation-a3{
    /* position: relative; */
    transform: translate(153px, -609px);
}

.Airpods_salesInformation-a3 a{
    text-decoration: none;
    font-size: 8px;
    color: rgb(29, 24, 24);
}

.Airpods_salesInformation-containerIMG4{
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: rgb(46, 39, 39);
    transform: translate(10px, -665px);
}

.Airpods_salesInformation-containerP9{
    transform: translate(9px, -810px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.Airpods_salesInformation-containerP10{
    transform: translate(1px,-808px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.Airpods_salesInformation-a4{
    /* position: relative; */
    transform: translate(147px, -829px);
}

.Airpods_salesInformation-a4 a{
    text-decoration: none;
    font-size: 8px;
    color: rgb(29, 24, 24);
}

.Airpods_salesInformation-containerIMG1{
    width: 70px;
    transform: translate(-220px, -1235px);
}

.Airpods_salesInformation-containerp{
    transform: translate(-220px, -1362px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}



.Airpods_salesInformation-containeRP{
    transform: translate(-217px, -1407px);

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 50px;

    color: rgb(46, 39, 39);
}

.Airpods_salesInformation-containERP{
    transform: translate(-214px, -1553px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.Airpods_salesInformation-containERP2{
    transform: translate(-224px,-1692px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.Airpods_salesInformation-Aa2{
    /* position: relative; */
    transform: translate(-139px, -1846px);
    font-size: 9px;
}

.Airpods_salesInformation-Aa2 a{
    text-decoration: none;
    /* font-size: 2px; */
    color: rgb(29, 24, 24);
}


/*******************************Airpods-information_column(3)************************************/


.Airpods_salesInformation-DIV3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Airpods_salesInformationIMg4{
    width: 40px;
    transform: translateY(-4770px) translateX(125px);
    border-radius: 50%;
}

.Airpods_salesInformationP3{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);

    transform: translate(125px, -4766px);
}

.Airpods_salesInformationP4{
    font-size: 10px;
    transform: translate(171px, -4782px);
}


.Airpods_salesInformationP4 a{
    text-decoration: none;
    color: rgb(43, 33, 33);
}

.Airpods_salesInformationiMg5{
    width: 70px;
    transform: translateY(-4685px) translateX(127px);
    border-radius: 18px;
}

.DIV{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translate(128px, -4680px);
}

.Airpods_salesInformatioNp6{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.Airpods_salesInformatioNp7{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.Airpods_salesInformatioNp8{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}


.airpods_salesInformationiMg6{
    transform: translate(129px, -4606px);
    width: 40px;

    border-radius: 50%;
}

.airpods_salesInformatioNp10{
    transform: translate(128px, -4600px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.airpods_salesInformatioNp11{
    transform: translate(203px, -4623px);
}

.airpods_salesInformatioNp11 a{
    text-decoration: none;
    font-size: 11px;
}


.Airpods_salesInformation-contaiRIMG{
    width: 40px;
    transform: translate(800px, -4623px);
}

.Airpods_salesInformationDIV1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Airpods_salesInformation-contAInerP14{
    transform: translate(135px, -4616px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.Airpods_salesInformation-contARnerP15{
    transform: translate(130px, -4615px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.Airpods_salesInformatAa{
    transform: translate(200px, -4637px);
}

.Airpods_salesInformatAa a{
    text-decoration: none;
    font-size: 7px;
}


.Airpods_salesInformation-containerIMg9{
    width: 45px;
    transform: translate(795px, -4370px);
}

.Airpods_salesInformation-DIV6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translate(180px, -4100px);
}

.Airpods_salesInformation-containeRp13{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);

    transform: translate(-53px, -265px);
}

.Airpods_salesInformation-containErp14{
    transform: translate(-53px, -267px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.Airpods_salesInformationA7{
    /* position: relative; */
    transform: translate(-6px, -289px);
}

.Airpods_salesInformationA7 a{
    text-decoration: none;
    font-size: 8px;
}


.Airpods_salesInformatioN-CONtainerIMG3{
    width: 60px;
    transform: translate(790px, -4393px);
}   

.Airpods_salesInforMAaTion-containerP{
    transform: translate(748px, -4376px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.Airpods_SaLeSInformation-containerP{
    transform: translate(752px,-4407px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.Airpods_SaLeSInformation-contaiNeRP{
    transform: translate(785px, -4393px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.AirpoDs_sAlEsInformation-a3{
    /* position: relative; */
    transform: translate(860px, -4416px);
}

.AirpoDs_sAlEsInformation-a3 a{
    text-decoration: none;
    font-size: 8px;
    color: rgb(29, 24, 24);
}


.aIRPods_SaLesInformation-containerIMG{
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: rgb(46, 39, 39);
    transform: translate(770px, -4346px);
}

.AIrpOds_salesInformation-containeRp{
    transform: translate(753px, -4352px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.AIrpOds_salesInformation-contAiNeRp2{
    transform: translate(745px,-4350px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}


.AIrpOds_salesInformation-contAiNeRp23{
     /* position: relative; */
     transform: translate(891px, -4371px);
}

.AIrpOds_salesInformation-contAiNeRp23 a{
    text-decoration: none;
    font-size: 8px;
    color: rgb(29, 24, 24);
}


/***************************************Airpods-information(column(3)************************/

.AIRPODS_salesInformation-containerP1{
    transform: translate(1040px, -5397px);
}

.aIrpods_salesInformationiMg5{
    width: 70px;
    transform: translateY(-5296px) translateX(1016px);
    border-radius: 18px;
}


.DIv1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translate(361px, -5295px);
}   

.AIrpods_salesInformatioNp6{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.AIrpods_salesInformatioNp7{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.AIrpods_salesInformatioNp8{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}


.AIRPODS_salesInformationCONtainerP1{
    transform: translate(1045px, -5190px);
}


.Airpods_SALEINFORMAITON-containerIMG{
    width: 40px;
    border-radius: 50%;

    transform: translate(1035px, -5083px);
}

.Airpods_SAILINFORMAITON-containerP3{
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
    
    transform: translate(967px, -5076px);
}

.SAILINFORMATION-containerP4{
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 350;

    color: rgb(46, 39, 39);

    transform: translate(987px, -5076px);
}

.Airpods_SAILINFORMATIOnn-a{
    color: rgb(43, 33, 33);
    font-size: 7px;
    transform: translate(1119px, -5090px);
}

.Airpods_SAILINFORMATIOnn-a a{
    text-decoration: none;
}

.AIRPODS_SALEInformation-containerP1{
    transform: translate(1049px, -4974px);
}

.aIRPods_INFORMATION-containerIMG{
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: rgb(46, 39, 39);
    transform: translate(990px, -4685px);
}

.AIrpOds_INFORMATION-containeRp{
    transform: translate(983px, -4690px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.AIrpOds_INFORMATION-contAiNeRp2{
    transform: translate(974px,-4690px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}

.AIrpOds_INFORMATION-contAiNeRp23{
      /* position: relative; */
    transform: translate(1120px, -4711px);
}

.AIrpOds_INFORMATION-contAiNeRp23 a{
    text-decoration: none;
    font-size: 8px;
    color: rgb(29, 24, 24);
}

.INFORMATION_APPLE-img{
    transform: translate(1023px, -4954px);
    width: 65px;
    
    border-radius: 40px;
}

.INFORMATION_APPLE-text{
    transform: translate(1021px, -4950px);

    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 13px;

    color: rgb(46, 39, 39);
}


/*************************ARIPODS-information-UNDER(text)**********************/


.Airpods-information_UNDERtextPARENT{
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(-4650px) translateX(20px);
}

.Airpods-information_UNDERtext{
    position: relative;

    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.Airpods-information_UNDERtext::before{
    content: "";

    position: absolute;

    left: -328px;
    bottom: -67px;
    height: 1px;

    width: 960px;
    background-color: rgb(214, 218, 228);
}

.Airpods-information_UNDERtext a{
    text-decoration: none;

    color: rgba(0, 102, 206);
}

.Airpods-information_UNDERtext a:hover{
    text-decoration: underline;
}

/***********************************TERMS of SERVECE - imgs****************************************/

/* .TERMS_of-serveceIMGCONTAINER{

} */

.TERM_ofSERVECE-IMGparent{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 120px;

    transform: translateY(-4570px) translateX(28px);
}

.TERMS_ofSERVECE-imgCHIld{
    width: 120px;
}

.TERMS_ofSERVECE-imgCHIld2{
    width: 100px;
    height: 90px;

    transform: translateY(26px);
}


/***********************************TERMS of SERVECE - TEXTHead****************************************/

.TERM_ofSERVECE-TEXTparent{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 100px;
    transform: translateY(-4570px) translateX(28px);

    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.TERM_ofSERVECE-TEXTchild1{
    transform: translate(14px);
}

.TERM_ofSERVECE-TEXTchild2{
    transform: translate(-10px);
}

.TERM_ofSERVECE-TEXTchild3{
    transform: translate(-30px);
}

.TERM_ofSERVECE-TEXTchild4{
    transform: translate(-18px);
}


/***********************************TERMS of SERVECE - P1****************************************/

.TERM_ofSERVECE-p1parent{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;

    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    transform: translateY(-4560px);
}

.TERM_ofSERVECE-TEXTchildp2{
    transform: translate(22px);
}

.TERM_ofSERVECE-TEXTchildp3{
    transform: translate(28px);
}

.TERM_ofSERVECE-TEXTchildp4{
    transform: translate(50px);
}

/***********************************TERMS of SERVECE - P2****************************************/

.TERM_ofSERVECE-p2parent{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;

    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    transform: translateY(-4557px);
}

.TERM_ofSERVECE-TEXTchildp22{
    transform: translate(-74px);
}

.TERM_ofSERVECE-TEXTchildp33{
    transform: translate(22px);
}

.TERM_ofSERVECE-TEXTchildp44{
    transform: translate(105px);
}

.TERM_ofSERVECE-TEXTchildp55{
    transform: translate(183px);
}

/***********************************TERMS of SERVECE - P3****************************************/


.TERM_ofSERVECE-p3parent{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;

    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    transform: translateY(-4554px);
}

.TERM_ofSERVECE-TEXTchildp66{
    transform: translate(44px);
}

.TERM_ofSERVECE-TEXTchildp77{
    transform: translate(121px);
}

.TERM_ofSERVECE-TEXTchildp88{
    transform: translate(225px);
}


/***********************************TERMS of SERVECE - P4****************************************/

.TERM_ofSERVECE-TEXTchildp99{
    transform: translate(561px, -4552px);

    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/***********************************TERMS of SERVECE - P5(a)****************************************/

.TERM_ofSERVEgE-p4parent{
    display: flex;
    justify-content: center;
    align-self: center;

    gap: 50px;

    transform: translate(0, -4500px);
}

.TERM_ofSERVECE-TEXTchildp100{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    transform: translate(-15px, -70px);
}

.TERM_ofSERVECE-TEXTchildp100 a{
    color: rgb(68, 68, 255);
    text-decoration: none;
}

.TERM_ofSERVECE-TEXTchildp100 a:hover{
    text-decoration: underline;
}

.AirPodsPro_img-img3{
    transform: translate(-64px, -69px);
    width: 13px;
}

.TERM_ofSERVECE-TEXTchildp101{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    transform: translate(29px, -40px);
}

.TERM_ofSERVECE-TEXTchildp101 a{
    color: rgb(68, 68, 255);
    text-decoration: none;
}

.TERM_ofSERVECE-TEXTchildp101 a:hover{
    text-decoration: underline;
}


.AirPodsPro_img-img4{
    transform: translate(-20px, -39px);
    width: 13px;
}


.TERM_ofSERVECE-TEXTchildp102{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    transform: translate(78px, -56px);
}

.TERM_ofSERVECE-TEXTchildp102 a{
    color: rgb(68, 68, 255);
    text-decoration: none;
}

.TERM_ofSERVECE-TEXTchildp102 a:hover{
    text-decoration: underline;
}

.AirPodsPro_img-img5{
    transform: translate(30px, -55px);
    width: 13px;
}


.TERM_ofSERVECE-TEXTchildp103{
    position: relative;

    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    transform: translate(128px, -55px);
}

.TERM_ofSERVECE-TEXTchildp103::before{
    content: '';

    position: absolute;

    right: -100px;
    bottom: -70px;
    height: 1px;
    width: 955px;
    background-color: rgb(212, 205, 205);
}

.TERM_ofSERVECE-TEXTchildp103 a{
    color: rgb(68, 68, 255);
    text-decoration: none;
}

.TERM_ofSERVECE-TEXTchildp103 a:hover{
    text-decoration: underline;
}

.AirPodsPro_img-img6{
    transform: translate(80px, -55px);
    width: 13px;
}

/******************************BIG-TEXT******************************/

.BIG-textPArent{
    width: auto;
    height: auto;

    transform: translateY(-4470px) translateX(30px);
}

.BIG-textCHild{
    display: flex;
    justify-content: center;
    align-items: center;
}

.BIG-textCHildP{    
    position: relative;

    font-size: 11px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: rgb(111, 110, 110);
}


.BIG-textCHildP::before{    
    content: '';

    position: absolute;
    
    right: -55px;
    bottom: -20px;
    height: 1px;
    width: 955px;
    background-color: rgb(212, 205, 205);
    
}


.BIG-textCHildP a{
    text-decoration: underline;
    color: rgb(62, 44, 44);
}

/************************FOTTTEERRRR*************HEADER*********//************************FOTTTEERRRR**********************/


#Footer_apple-logo{
    transform: translateY(6515px) translateX(290px);
    color: rgb(104, 92, 92);
}

#Footer_apple-logo:hover{
    color: black;
    cursor: pointer;
}

.COlumn1-childIMG1{
    width: 13px;
    transform: translateY(6517px) translateX(295px);
}

.COlumn1-childP{
    transform: translateY(6499px) translateX(331px);
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: rgb(88, 81, 81);
}


/************************FOTTTEERRRR********************ColuMn(1)**//************************FOTTTEERRRR**********************/

.Column1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 9px;

    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: rgb(88, 81, 81);

    transform: translateY(6527px) translateX(-358px);
}

.Column1-p, .Column1-p2{
    color: rgb(25, 23, 23);
    font-weight: 450;
}

.a1{
    text-decoration: none;
    color: rgb(88, 81, 81);
}


.a1:hover{
    text-decoration: underline;
}

/************************FOTTTEERRRR********************ColuMn(2)**//************************FOTTTEERRRR*********************/

.COlumn2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 9px;

    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: rgb(88, 81, 81);

    transform: translateY(6114px) translateX(-178px);
}

.Column2-p, .Column2-p2{
    color: rgb(25, 23, 23);
    font-weight: 450;
}

.a2{
    text-decoration: none;
    color: rgb(88, 81, 81);
}

.a2:hover{
    text-decoration: underline;
}

/**********************************COLUMN3*************************/

.Column3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 9px;

    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: rgb(88, 81, 81);

    transform: translateY(5772px) translateX(10px);
}

.Column3-p{
    color: rgb(25, 23, 23);
    font-weight: 450;
}

.a3{
    text-decoration: none;
    color: rgb(88, 81, 81);
}

.a3:hover{
    text-decoration: underline;
}

/*************************Colum(4)********************************/


.Column-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 9px;

    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: rgb(88, 81, 81);

    transform: translateY(5475px) translateX(200px);
}

.Column4-p, .Column4-p2, .Column4-p3, .Column4-p4{
    color: rgb(25, 23, 23);
    font-weight: 450;
}

.a4{
    text-decoration: none;
    color: rgb(88, 81, 81);
}

.a4:hover{
    text-decoration: underline;
}


/*******************************COLUMN 5*********************************/

.COlumn-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 9px;

    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: rgb(88, 81, 81);

    transform: translateY(5060px) translateX(417px);
}

.Column5-p, .Column5-p2{
    color: rgb(25, 23, 23);
    font-weight: 450;
}

.a5{
    text-decoration: none;
    color: rgb(88, 81, 81);
}

.a5:hover{
    text-decoration: underline;
}

/*****************************************FOTER-end-text(1)******************************/


.FOOTER_endROW-text{
    position: relative;

    display: flex;
    flex-direction: row;
    gap: 5px;

    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: rgb(88, 81, 81);

    transform: translateY(5120px) translateX(302px);
}

.FOOTER_endROW-text::before{
    content: '';

    position: absolute;

    right: 476px;
    bottom: -20px;
    height: 1px;
    width: 905px;
    background-color: rgb(212, 205, 205);

}

.FOOTER_endROW-textPARENT a, a{
    color: rgb(49, 49, 240);
}

/**********************************footer-under_text(2)*******************************/

.FOoter_endrow-text2{
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: rgb(88, 81, 81);

    transform: translateY(5160px) translateX(302px);
}

.Footer_ednrow-text2PARTTWO{
    display: flex;
    flex-direction: row;
    gap: 5px;

    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: rgb(88, 81, 81);

    transform: translateY(5146px) translateX(590px);
}

.FOTTER_end_TEXT2 a{
    color: rgb(88, 81, 81);
    text-decoration: none;
}

.FOTTER_end_TEXT2 a:hover{
    text-decoration: underline;
}