/* #giftcard {
    margin-top: 160px;
} */

#applelogo {
    margin-top: -1290px;
    left: 1500px;
    position: absolute;
    font-family: sans-serif;
}

#tv {
    font-size: 110px;
    margin: 0;
    margin-left: 80px;
    margin-top: -110px;
}

#ap {
    margin: 0;
}

#dd {
    top: 280px;
    left: 1456px;
    position: absolute;
}

#mls-photo {
    position: absolute;
    left: 185px;
    bottom: 10px;
}

#forbutton {
    position: absolute;
    top: 1350px;
    left: 1550px;
}

#learnmore-button {
    font-size: 30px;
    color: white;
    background-color: black;
    width: 250px;
    height: 85px;
    border: none;
    border-radius: 42.5px;
    padding: 4px;
}

#learnmore-button-div {
    position: absolute;
    top: 1400px;
    left: 1530px;
}

#learnmore-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

#hidden1 {
    position: absolute;
    top: 1700px;
    left: 1200px;
}
#ipadpro-div {
    position: absolute;
    bottom: 70px;
    left: 1500px;
}

#ipadpro {
    font-size: 110px;
    font-family: sans-serif;
    color: white;
}

#learnmore1 {
    width: 250px;
    height: 85px;
    background-color: #0071E3;
    font-size: 30px;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 42.5px;
}

#learnmore1-div {
    position: absolute;
    top: 1900px;
    left: 1500px; 
}

#buy1 {
    font-size: 35px;
    width: 150px;
    height: 85px;
    border: solid 1px;
    border-radius: 40px;
    color: #2997FF;
    border-color: #2997FF;
    background-color: black;
    margin-left: 70px;
}

#iphone-blanket {
    position: absolute;
    top: 3000px;
    left: 1300px;
}

#iphone {
    font-size: 110px;
    font-family: sans-serif;
    color: white;
}

#iphone-div {
    position: absolute;
    top: 3000px;
    left: 1500px;
}



#description-iphone {
    color: white;
    font-size: 40px;
    font-family: sans-serif;
}

#buttons {
    position: absolute;
    top: 3400px;
    left: 1400px;
}

#blanket1 {
    position: absolute;
    top: 5330px;
    left: 760px;
}

#blanket2 {
    position: absolute;
    top: 4580px;
    left: 2200px;
}

#Shop {
    width: 130px;
    height: 70px;
    padding: 9px 18px;
    font-size: 27px;
    font-family: sans-serif;
    color: #0066CC;
    background-color: white;
    border: solid 1px #0066CC;
    border-radius: 35px;
}

#buttons2 {
    position: absolute;
    top: 5330px;
    left: 790px;
}

#learnmore-button1 {
    width: 200px;
    height: 65px;
    background-color: #0071E3;
    font-size: 25px;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 32.5px;
}

#watchthefilm-button {
    width: 240px;
    height: 65px;
    color: #0071E3;
    background-color: white;
    font-size: 25px;
    padding: 3px;
    border: solid 1px;
    border-radius: 32.5px;
    border-color: #0066CC;
    margin-left: 40px;
}

#buttons3{
    position: absolute;
    top: 4700px;
    left: 2250px;
}

#blanket3 {
    position: absolute;
    top: 5885px;
    left: 600px;
}

#blanket4 {
    position: absolute;
    top: 5900px;
    left: 2350px;
}


#applynow-button {
    width: 180px;
    height: 70px;
    color: #0066CC;
    border: solid 1px #0066CC;
    background-color: white;
    font-size: 24px;
    padding: 7px 15px;
    border-radius: 35px;
    margin-left: 50px;
}

#buttons4 {
    position: absolute;
    top: 5900px;
    left: 650px;
}

#last-div {
    background-color: rgba(212, 212, 212, 0.767);
    width: 100%;
    height: 2000px;
}

#header-div {
    height: 80px;
    background-color: #F2F2F4;
    width: 100%;
}

nav {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: black;
    font-weight: none;
}

nav a {
    margin: 0 25px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

nav .spacer {
    flex-grow: 1;
}

nav .icon {
    font-size: 18px;
    margin-left: 20px;
}



#hdd {
    margin-left: 600px;
}

#ff {
    margin-right: 300px;
}