h1 {
    width: 237px;
    height: 84;
    font-size: 80px;
    color: #1D1D1F;
    color: white;
}

#Header {
    display: flex;
    align-items: center;
    margin-left: 10px;
    position: relative;
}

.text1 {
    font-size: 29px;
    justify-self: right;
    color: #1D1D1F;
    margin-left: auto;
    color: white;/* style.css */
}
    

.AppleVideo {
    width: 1500px;
    height: 635px;
}

.menu {
    display: flex;
    gap: 35px;
    font-size: x-large;
    justify-content: center;
    border-bottom: solid 30px white;
}

@keyframes hoverEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
        color: #1D1D1F;
    }
    100% {
        transform: scale(1.3);
        color: #1D1D1F;
    }
}

.items:hover {
    animation: hoverEffect 0.3s forwards;
    cursor: grab;
}

.items::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #1D1D1F;
    transition: width 0.3s ease;
}

.mid-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.mid-section video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    z-index: -1; 
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.photos {
    display: flex;
    justify-content: space-evenly;
}

.text2 {
    font-size: xx-large;
}

.info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buy-buttons {
    background-color: blue;
    width: 150px;
    height: 50px;
    border-radius: 100px;
    color: white;
    font-size: large;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.text3 {
    font-size: x-large;
}

.benefits {
    display: flex;
    justify-content: space-evenly;
}

.tradeIn, .overTime, .carrierDeals, .easyPickup {
    height: 200px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

html {
    background-color: rgb(200, 200, 200);
}

.tradeIn:hover, .overTime:hover, .carrierDeals:hover, .easyPickup:hover {
    transform: scale(1.2);
}

.buy-buttons:hover {
    cursor: grab;
    transform: scale(1.1);
}

.KnowIphone1 {
    background-image: url(KnowIphone1.jpg);
    height: 580px;
    width: 400px;
}

.KnowIphone2 {
    background-image: url(KnowIphone2.jpg);
    height: 580px;
    width: 400px;
}

.KnowIphone3 {
    background-image: url(KnowIphone3.jpg);
    height: 580px;
    width: 400px;
}

.KnowIphone4 {
    background-image: url(KnowIphone4.jpg);
    height: 580px;
    width: 400px;
}

.KnowIphone1, .KnowIphone2, .KnowIphone3, .KnowIphone4 {
    color: white;
    font-size: xx-large;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;

}

.KnowIphone {
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
}

.KnowIphone1:hover, .KnowIphone2:hover, .KnowIphone3:hover, .KnowIphone4:hover {
    transform: scale(1.05);
    cursor: grab;
}





